workflows/Telegram_chat_bot.json
{
  "name": "Telegram chat bot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "02e3f39c-0097-4778-a4ac-32298ef8c959",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1S5YuUjXdla-YR_ClFZSJxtVk2H77ovBN",
            "mode": "list",
            "cachedResultName": "telegram",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1S5YuUjXdla-YR_ClFZSJxtVk2H77ovBN"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "5c234efa-1b6e-44dc-b49a-899d151c6fec",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jWE9fW2NhsC5BCUu",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "7b0d430a-9b3b-4ee8-a250-f20995e686d1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jWE9fW2NhsC5BCUu",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        620,
        40
      ],
      "id": "d5e668a6-b26b-49e8-b431-e6cb692fca0f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        820,
        40
      ],
      "id": "e1b7e700-c2c8-43ec-93d8-ca16c846902f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "lpyjMCXd2ZiWGIjm",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        340
      ],
      "id": "66a94f2a-ebe8-4266-a1d3-eec969f6b6c3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DLQadKb21hEdvRZ7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        920,
        340
      ],
      "id": "a4f21d96-f043-42c5-b94d-ba13009c45e4",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2309a758-c588-474b-9d37-48af9784d2cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e9276ca66b9fea21b7a42598f9673295a6f5cc7000856211693fcb83acefec9"
  },
  "id": "v3zpuSFLCR0NAXeg",
  "tags": []
}